*{
    box-sizing: border-box;
    margin-top: 0;
}
header{
    background-color: #333;
    left: 0px;
    padding: 10px 0px;
    position: fixed;
    text-align: center;
    top: 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}

.nav-header li{
    display: inline-block;
    margin-right: 30px;
}

.nav-header a{
    color: white;
    font-size: 18 px;
    text-decoration: none;
}
.nav-header a:hover{
    text-decoration: underline;
}
.logo-top{
    display: flex;
    align-items: center;
}
#text-verde{
    color: green;

}
#text-blanco{
    color: white;

}
#text-red{
    color:red ;

}
body{
    margin-top: 150px;
}
.name-pizzas h3{
    display: flex;
    justify-content: center;
    color: tomato;
    
}

footer{
    background-color: #333;
    left: 0px;
    padding: 10px 0px;
    text-align: center;
    top: 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}


footer ul{
    display: flex;
    flex-direction: column;
    
}
.nav-footer li{
    display: inline-block;
    margin-right: 30px;
}

.nav-footer a{
    color: white;
    font-size: 18 px;
    text-decoration: none;
}
.nav-footer a:hover{
    text-decoration: underline;
}
.logo-pie{
    display: flex;
    align-content: center;
    align-items: center;
    
}
section{
    margin: 50px 10px;
    display: flex;
    justify-content:space-evenly;
}
.promo{
    display: flex;
    justify-content: center;

}

.text-promo{
    position:absolute;
    display: flex;
    justify-content: space-around;
}


